:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --background-color-buttonV1: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --------------------Navbar---------------------- */
  --color-navbar-background: #333;
  --background-color-button-close-sesion: #b7b7b7;
  --background-color-dropdown: #f0f0f0;
  --color-dropdown: #000000;
  --background-color-search: #555;

  /* --------------------cars-------------------------- */
  --border-dropzoneContainerStyles: #700202;


  /* --------------------seccion main---------------------- */
  --color-ico: #ffffff;
  --color-morado: #8a2be2;
  --color-hover-button-main: #11121a;
  --color-button-border: #333333;

  /* -----------------------Tabla-------------------------------- */
  --color-amarillo: #b8860b;
  --color-gris-1: #5f5a5a;
  --background-color-thead: #333;
  --color-text-table: #FDFDFD;

  /* --------------------------Modal----------------------------- */
  --background-color-SubmitBtn: #800080; 
  --color-text-SubmitBtn: #ffffff;
  --background-color-Label: #ffffff;
  --color-text-Label: #a7acb5;
  --color-text: #000000;

  /*-----------------------glovales---------------------------------- */
  --color-placeholder: #999;
  --color-header: #000000;
  --background-color-line: #808080;
  --border-color-ImgSube: #ff0000;
  --color-text-span: #ff0000;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: hwb(0 10% 90% / 0);
  padding: 0m 0em;
  cursor: pointer;
  border: 0px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

button:focus, button:focus-visible {
  outline: 0px auto;
}

/* =============================================================== */
/* Modal */

.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .1s ease-in-out;
  z-index: 1000;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}